<section>
  <mat-accordion *ngIf="mythicHistory">
    <mat-expansion-panel [disabled]="!character.runs.length" *ngFor="let character of mythicHistory">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ character.name }}
        </mat-panel-title>
        <mat-panel-description>
          <div>{{ character.runs.length }} run(s) this week</div>
          <div [matBadge]="character.highestRun" matBadgeOverlap="false" matBadgeSize="small"></div>
          <mat-icon (click)="deleteCharacter(character.name, character.realm, character.region)">delete</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table class="mat-elevation-z8" [dataSource]="character.runs">
        <ng-container matColumnDef="dungeon">
          <th mat-header-cell *matHeaderCellDef>Dungeon</th>
          <td mat-cell *matCellDef="let element">{{ element.dungeon }}</td>
        </ng-container>
        <ng-container matColumnDef="clear_time_ms">
          <th mat-header-cell *matHeaderCellDef>clear time</th>
          <td mat-cell *matCellDef="let element">{{ element.clear_time_ms / 1000 / 60 | number: '1.0-0' }} min</td>
        </ng-container>
        <ng-container matColumnDef="completed_at">
          <th mat-header-cell *matHeaderCellDef>completed at</th>
          <td mat-cell *matCellDef="let element">{{ element.completed_at | date }}</td>
        </ng-container>
        <ng-container matColumnDef="mythic_level">
          <th mat-header-cell *matHeaderCellDef>Myhthic level</th>
          <td mat-cell *matCellDef="let element">{{ element.mythic_level }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider [inset]="true"></mat-divider>

  <h3>add tracking of a new character</h3>
  <mat-form-field>
    <mat-label>Character name</mat-label>
    <input matInput [(ngModel)]="charName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Realm</mat-label>
    <input matInput [(ngModel)]="realm" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Region</mat-label>
    <input matInput [(ngModel)]="region" />
  </mat-form-field>

  <button mat-flat-button (click)="requestUpdate()">request update</button>
  {{ error }}
</section>
