.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel {
  margin: 10px;
}
table {
  width: 100%;

  td.mat-cell {
    padding: 10px !important;
  }

  th.mat-header-cell {
    padding: 10px !important;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-divider {
  width: 100%;
  margin: 30px;
}
